body{
	text-align: center;
	background: #7289DA;
  font-family: sans-serif;
  font-weight: 100;
	
}

h1{
  color: #000;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
	text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000, -2p -2px 0 #000, 2px 2px 0 #000;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #5b6eae;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #506099;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
